{% extends "base.html" %}

{% block title %}
JPG To PNG Converter
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">JPG To PNG Converter</h1>
  <p class="lead text-center">Upload the JPG image and get it converted into PNG..</p>
    <hr class="my-4">

    <div class="row">
        <div class="col-sm">
          <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row mt-4 mb-4 pl-4 pr-4">
              <div class="col">
                <p>
                <label for="jpg">Choose JPG : </label>
                <input type="file" name="jpg" id="jpg" required>
                </p>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Convert</button>
            </div>
            </div>
          </form><br>
        </div>
        <div class="col-sm mt-4 mb-4 pl-4 pr-4">
          {% if data %}
          <p>Your Request has been processed....</p>
          <p>Download Image : <a class="btn btn-outline-primary" href={% url 'download-png' id=data.id %} role="button">Download</a></p>
    
          {% endif %}
        </div>
      </div>

    {% if error %}
    <div class="alert alert-warning" role="alert">
        <p>Invalid image file Uploaded. Please Upload .jpg image file...</p>
      </div>
    {% endif %}
</div>
{% endblock %}